<h1>Dashboard</h1>
<p><%= link_to "Create/Edit Projects", projects_path %></p>
<p><%= link_to "Create/Edit Document Types", doc_types_path %></p>
<p><%= link_to "Create/Edit Template Files", templates_path %></p>
<h2>Troubleshooting Only</h2>
<p><%= link_to "Tags", tags_path %></p>
<p><%= link_to "Documents", documents_path %></p>
<p><%= link_to "DocData", doc_data_path %></p>
