<!DOCTYPE html>
<html>
  <head>
    <title>Clark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
<div id="header"><%= link_to image_tag("clarksmall.png"), root_path %></div>
<div id="body">
    <%= yield %>
</div>
  </body>
</html>
